* {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background-color: blueviolet;
  overflow-x: hidden;
}
.cat-container {
  margin-top: 20px;
}
.fact-container {
}
.fact-container h3 {
  padding: 10px;

  overflow-wrap: break-word;
  text-align: center;
  font-size: 30px;
}
.img-container {
  box-shadow: 0 0 10px white;
  position: relative;
  height: 400px;
  width: 50vw;
  margin-left: 50%;
  left: -25vw;
  border-radius: 10px;
  background-color: white;
  background-position: center;
  background-size: cover;
}
#factBtn {
  position: relative;
  height: 100px;
  width: 55vw;
  margin-left: 50%;
  left: -27.5vw;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  color: blueviolet;
  background-color: white;
  margin-bottom: 20px;
}
#hart {
  position: relative;
  margin-top: 200px;
  margin-left: 50%;
  left: -70px;
  top: -32px;
}
.hide {
  display: none;
}
h1 {
  text-align: center;
  font-size: 2.2rem;
}
footer {
  background-color: rgb(125, 46, 199);
}
footer #author {
  padding-right: 10px;
  display: block;
  font-size: 20px;
  text-decoration: none;
  text-align: right;
}
footer #author:hover {
  padding: 0;
  padding-right: 10px;
  font-size: 25px;
}
